In [301]:
import pandas as pd
import numpy as np

In [302]:
df = pd.read_csv("H:\\python new\\Machine Learining\\PlayTennis.csv")

In [303]:
df.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [304]:
from sklearn.preprocessing import LabelEncoder

In [305]:
le = LabelEncoder()

In [306]:
df_encode = df.apply(le.fit_transform,axis=0)
df_encode

    Outlook  Temperature  Humidity  Wind  Play Tennis
0         2            1         0     1            0
1         2            1         0     0            0
2         0            1         0     1            1
3         1            2         0     1            1
4         1            0         1     1            1
5         1            0         1     0            0
6         0            0         1     0            1
7         2            2         0     1            0
8         2            0         1     1            1
9         1            2         1     1            1
10        2            2         1     0            1
11        0            2         0     0            1
12        0            1         1     1            1
13        1            2         0     0            0

In [307]:
del df_encode['Wind']
del df_encode['Humidity']

In [308]:
def Prior_prob(y_train,label):
    classes = np.unique(y_train)
    print(classes)
    value = np.array(y_train)
    print(value)
    yes = np.count_nonzero(value==label)
    deno = len(y_train)
    Prob_fea = yes/deno
    
    return Prob_fea

In [309]:
def likelyhood(X_train,y_train,prior_prob,feature_val,label):
    feature_col = X_train.columns
    y = y_train
    value = np.array(y_train)
    deno = np.count_nonzero(value == label)
    counter = 1.0
    for i in range (len(feature_col)):
        feature_column = df_encode[feature_col[i]].values
        feature_value = feature_column[y == label]
        x_feature = np.count_nonzero(feature_value == feature_val[i])
        probability = x_feature/deno
        print(probability)
        counter *= probability
    return counter

In [310]:
y = df_encode['Play Tennis']

In [311]:
x = df_encode.iloc[:, df_encode.columns != 'Play Tennis']

In [327]:
def normalization(yesProb,noProb):
    yesmax = yesProb/(yesProb+noProb)
    nomax = noProb/(yesProb+noProb)
    print("Yes: ",yesmax, " No: ",nomax)

In [335]:
feature = [0,0,0,0]

In [336]:
yes = Prior_prob(df_encode['Play Tennis'],1)
yes
like1 = likelyhood(x,y,yes,feature,1)
like1
ProbYes = yes * like1
ProbYes

[0 1]
[0 0 1 1 1 0 1 0 1 1 1 1 1 0]
0.4444444444444444
0.3333333333333333

0.09523809523809525

In [337]:
no = Prior_prob(df_encode['Play Tennis'],0)
no
Like2 = likelyhood(x,y,no,feature,0)
ProbNo = no * Like2
ProbNo

[0 1]
[0 0 1 1 1 0 1 0 1 1 1 1 1 0]
0.0
0.2

0.0

In [338]:
normalization(ProbYes,ProbNo)

Yes:  1.0  No:  0.0